body {
    font-family: 'montserrat';
    margin: 0;
    color: darkblue;
    background-color: white;
    width: 100%;
    height: 100%;
}

.wrapper {
    margin: auto;
}

.logo {
    width: 3em;
    height: 3em;
}

.logo:hover {
    animation: 'pulse';
}

.logo-container {
    color: darkblue;
    display: flex;
    margin-left: 4em;
}

.logo-container>p {
    margin-left: 1.5em;
}

.logo-container>p>span {
    font-weight: 600;
    text-transform: uppercase;
}


.header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em; 
    padding-left: auto;
    background: white;
    animation: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;

}

.header-wrapper {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
}

.sticky {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    animation: none;
    margin: auto;
    margin-top: 2.5em;
    margin-bottom: 1em; 
} 

.menu {
    display: flex;
    margin-right: 4em;
}

.menu>a {
    margin-right: 2em;
    align-self: center;
    text-decoration: none;
    color: darkblue;
}

.menu>a:hover {
    font-weight: 500;
}

.head-banner {
    z-index: 1;
    position: relative;
    display: flex;
}

.banner {
    display: flex;
    width: 100%;
    filter: contrast(2.5)hue-rotate(190deg);
    margin-top: 2em;
    animation: fadeInUp;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    z-index: 1;
}  

.code-icons {
    display: flex;
    justify-content: center;
    padding-left: 0;
}

li {
    list-style: none;
}

.code-icons>li>img {
    width: 1.2em;
    text-align: center;
}

.code-icons>li {
    margin: auto;
}

.tagline {
    position: absolute;
    font-size: 2em;
    font-weight: 340;
    margin-top: 5em;
    margin-left: 43%;
    z-index: 3;
    text-transform: uppercase;
    animation: fadeIn;
    animation-duration: 1s;
}

.fade-out {
    animation: fadeOut;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

.fade-out-down {
    animation: fadeOutDown;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
}

@keyframes fadeInUp {
    0% {
        margin-top: 100%;
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        margin-top: 6em;
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOutDown {
    0% {
        margin-top: 2em;
        opacity: 1;
    }

    60% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.1;
    }

    100% {
        margin-top: 100%;
        opacity: 0;
    }
}



.container {
    width: 800px;
    margin: auto;
    padding: 3em 4em 4em 4em;
    border-radius: 50px;
    margin-top: 4em;
    font-weight: 380;
    text-align: justify;
}

#about>h2 {
    animation: fadeIn;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 1s;
} 

canvas {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}

#canvas-in {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}


