body {
    font-family: 'montserrat';
    margin: 0;
    color: darkblue;
    background-color: white;
    width: 100%;
    height: 100%;
}

.wrapper {
    margin: auto;
}

.logo {
    width: 3em;
    height: 3em;
    border-radius: 100px;
    margin-right: 8em;
    cursor: pointer;
}


.logo-bounce {
    animation: bounceOff;
    animation-name: bounceOff;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;

}

.title-container {
    color: darkblue;
    display: flex;
    margin-left: 4em;
}

.title-container>p {
    margin-left: 1.5em;
}

.title-container>p>span {
    font-weight: 600;
    text-transform: uppercase;
}


.header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 2em;
    padding-bottom: 1em; 
    animation: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.header-wrapper {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
}



.sticky {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    animation: none;
    margin: auto;
    margin-top: 2.5em;
    margin-bottom: 1em; 
} 

.menu {
    display: none;
    width: calc(70vh - 4em);
    height: calc(100%);
    position: fixed;
    right: 0;
    background-color: darkblue;
    animation: slide-menu 0.3s ease-in forwards;
    transform: scaleX(0);
    transform-origin: right;
    margin-top: -2em;
}

.menu>ul {
    margin-top: 5em;
}

.menu>ul>li {
    color: white;
    font-size: 5em;
}

.menu-list>li>a {
    color: white;
    text-decoration: none;
    text-transform: none;
    animation: fadeIn 0.9s ease-in forwards;
    animation-delay: 0.2s;
    opacity: 0;
}

.head-banner {
    position: relative;
    display: flex;
}

.open {
    display: block;
}

.banner {
    display: flex;
    width: 100%;
    filter: contrast(2.5)hue-rotate(190deg);
    margin-top: 2em;
    animation: fadeInUp;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    z-index: 1;
}  

.code-icons {
    display: flex;
    justify-content: center;
    padding-left: 0;
}

li {
    list-style: none;
}

.code-icons>li>img {
    width: 1.2em;
    text-align: center;
    z-index: 5;
}

.code-icons>li {
    margin: auto;
}

.tagline {
    position: absolute;
    font-size: 2em;
    font-weight: 340;
    margin-top: 6em;
    margin-left: 43%;
    z-index: 5;
    text-transform: uppercase;
    animation: fadeIn;
    animation-duration: 1s;
}

.fade-out {
    animation: fadeOut;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 0.3s;
}

.fade-out-down {
    animation: fadeOutDown;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
}

.fade-out-left {
    animation: fadeOutLeft;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes bounceOff {
    from {
        width: 3em;
        height: 3em;
    }
    to {
        width: 0em;
        height: 0em;
    }
}


@keyframes slide-menu {
    from {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
    }
    to {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
  }
  


@keyframes fadeInUp {
    0% {
        margin-top: 100%;
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        margin-top: 8em;
        opacity: 1;
    }
}


/* @media (max-width: 12450px) */

 
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
} 

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOutDown {
    0% {
        margin-top: 2em;
        opacity: 1;
    }

    60% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.1;
    }

    100% {
        margin-top: 100%;
        opacity: 0;
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
    }

    60% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.1;
    }

    100% {
        margin-left: 1em;
        opacity: 0;
    }
}


.container {
    width: 800px;
    margin: auto;
    padding: 3em 4em 4em 4em;
    border-radius: 50px;
    margin-top: 4em;
    font-weight: 380;
    text-align: justify;
}

#about>h2 {
    animation: fadeIn;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 1s;
} 

canvas {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 30%;
}

.portfolio-gallery {
    margin-top: 5em;
}

.portfolio-list {
        display: grid;
        grid-template-columns: 100px 100px 100px;
        column-gap: 100px;
        row-gap: 40px;
}

